.card {
  min-width: 180px;
  background-color: rgb(247, 247, 247);
  padding: 10px 15px;
  margin: 20px 15px;
  width: 20%;
  cursor: pointer;
  box-shadow: 4px 6px 18px rgb(71 71 71 / 34%);
  transition: all 0.4s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 4px 9px 20px 9px rgb(71 71 71 / 37%);
}

.flag {
  width: 100%;
}

.card h3 {
  margin-bottom: 10px;
}

.cardCapital {
  font-size: 17px;
  color: #6b6be1;
}

.cardCapital span {
  color: black;
  font-weight: bold;
}

@media (max-width: 440px) {
  .card {
    width: 80%;
  }
}
